[Unit]
Description=Barrier KVM Server

[Service]
Type=simple
ExecStart=flatpak run com.github.debauchee.barrier --command="barriers -c /home/mac/github/mac/config/barrier-server/barrier.conf"
Restart=on-failure
; Environment="PATH=/bin:/user/local/sbin:/usr/local/bin:/home/linuxbrew/.linuxbrew/bin"

[Install]
WantedBy=default.target
