[user]
    name = Mackenzie Stewart
    email = github@macstew.art
{{- if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
{{- else if eq .chezmoi.os "darwin" }}
[credential]
    helper = osxkeychain
{{- end }}
[init]
    defaultBranch = main
