[user]
    name = Mackenzie Stewart
    email = github@macstew.art
{{- if eq .chezmoi.os "linux" }}
[credential]
    credentialStore = gpg
    helper = /usr/local/bin/git-credential-manager
    interactive = auto
    guiPrompt = false
{{- else if eq .chezmoi.os "darwin" }}
[credential]
    helper = osxkeychain
{{- end }}
