_dotfileLog "sourcing .zshrc" 2>/dev/null
if [[ $DEBUG == 1 ]]; then
    zmodload zsh/zprof
fi

preexec () {
  echo -n "\\x1b]133;A\\x1b\\"
}

source $DOTZSH/config.zsh

source $DOTZSH/osfunc.zsh
source $DOTZSH/aliases.zsh
source $DOTZSH/functions.zsh
source $DOTZSH/path.zsh

for f in $DOTZSH/funcs/*.zsh; do source $f; done

# TODO can I break this out into a separate file?
{{- if eq .chezmoi.os "linux" }}
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/home/mac/miniconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/home/mac/miniconda3/etc/profile.d/conda.sh" ]; then
        . "/home/mac/miniconda3/etc/profile.d/conda.sh"
    else
        export PATH="/home/mac/miniconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<
{{- end }}

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

source $DOTZSH/bindings.zsh

source $DOTZSH/comp.zsh

source $DOTZSH/plugins.zsh

eval "$(starship init zsh)"

if [[ $DEBUG == 1 ]]; then
    zprof
fi

