_dotfileLog "sourcing exports.zsh" 2>/dev/null

export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-$HOME/.config}

export SUCKDIR="$HOME/suck"
export GPG_TTY=$(tty)

if ! [[ -v JHOME ]]; then
    export JHOME=/usr/libexec/java_home
fi

if [[ -d "$JHOME" ]]; then
    export JAVA_HOME=$($JHOME -v 11.0.12)
fi

export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

export VISUAL=nvim
export EDITOR="$VISUAL"

{{- if eq .chezmoi.os "linux" }}
export DISPLAY=:0
export STEAMPATH="$HOME/.local/share/Steam"
{{- end }}

export LESS_TERMCAP_md="${yellow}";
export MANPAGER='less -X';

if [[ -f "$HOME/.env" ]]; then
    _dotfileLog "sourcing ~/.env" 2>/dev/null
    source "$HOME/.env"
fi

export SERVITOR_HOST=192.168.2.17
export SERVITOR_DB_USER=root

