_dotfileLog "sourcing path.zsh" 2>/dev/null

function addToPath() {
    case ":$PATH" in
        *":$1"*) :;; #already there
        *) export PATH="$1:$PATH"; _dotfileLog "sourcing path.zsh" 2>/dev/null;;
    esac
}

pathadditions=(
    /usr/local/{bin,sbin}
    $HOME/utils
    $HOME/.config/yarn/global/node_modules/.bin
    $HOME/.config/utils
    $HOME/.cargo/bin
    $HOME/go/bin
    $HOME/.local/bin
)

{{- if eq .chezmoi.os "linux" }}
pathadditions+=(/home/linuxbrew/.linuxbrew/bin)
{{- else if eq .chezmoi.os "darwin" }}
pathadditions+=(/opt/homebrew/bin)
{{- end }}

for i in ${pathadditions[@]}; do addToPath $i; done

eval $(brew shellenv)

