{{- if eq .chezmoi.hostname "Mackenzies-MacBook-Air" }}
# switch focus between displays
alt - 1 : yabai -m space --focus 1
alt - 2 : yabai -m space --focus 2
alt - 3 : yabai -m space --focus 3
alt - 4 : yabai -m space --focus 4
{{- end }}
alt - down : yabai -m display --focus south

# set insert point
ctrl + alt - left : yabai -m window --insert west
ctrl + alt - down : yabai -m window --insert south
ctrl + alt - up : yabai -m window --insert north
ctrl + alt - right : yabai -m window --insert east

### recent actions
alt - s : yabai -m window --stack recent follow #stack
alt - u : yabai -m window --toggle float && yabai -m window --toggle float #unstack
alt - m : ~/.config/skhd/swap-current.sh recent
ctrl + alt - w: yabai -m window --warp recent

# switch focus between windows
alt - h : yabai -m window --focus west
alt - j : yabai -m window --focus south
alt - k : yabai -m window --focus north
alt - l : yabai -m window --focus east

alt - tab : yabai -m window --focus recent

alt + shift - z : yabai -m window --toggle zoom-parent
alt - z : yabai -m window --toggle zoom-fullscreen

# move window to display
alt + shift - 1 : yabai -m window --space 1
alt + shift - 2 : yabai -m window --space 2
alt + shift - 3 : yabai -m window --space 3
alt + shift - 4 : yabai -m window --space 4
alt + shift - 5 : yabai -m window --space 5
alt + shift - 6 : yabai -m window --space 6
alt + shift - down : yabai -m window --space 6

# swap window with other window
alt + shift - h : yabai -m window --swap west
alt + shift - j : yabai -m window --swap south
alt + shift - k : yabai -m window --swap north
alt + shift - l : yabai -m window --swap east

# stack window on top of other window
# ctrl + alt + cmd + shift - h : yabai -m window west --stack $(yabai -m query --windows --window | jq -r '.id')
# ctrl + alt + cmd + shift - j : yabai -m window south --stack $(yabai -m query --windows --window | jq -r '.id')
# ctrl + alt + cmd + shift - k : yabai -m window north --stack $(yabai -m query --windows --window | jq -r '.id')
# ctrl + alt + cmd + shift - l : yabai -m window east --stack $(yabai -m query --windows --window | jq -r '.id')

ctrl + alt + cmd + shift - u : yabai -m window --toggle float && yabai -m window --toggle float


# switch between windows in stack
# 0x32 = backtick 
alt - 0x32 : yabai -m window --focus stack.next || yabai -m window --focus stack.first

# balance spaces
ctrl + alt + shift - b : yabai -m space --balance
ctrl + alt + shift - 2 : yabai -m window --ratio abs:0.25
ctrl + alt + shift - 3 : yabai -m window --ratio abs:0.333
ctrl + alt + shift - 4 : yabai -m window --ratio abs:0.4
ctrl + alt + shift - 5 : yabai -m window --ratio abs:0.5
ctrl + alt + shift - 6 : yabai -m window --ratio abs:0.666
ctrl + alt + shift - 7 : yabai -m window --ratio abs:0.75

ctrl + alt - r : yabai -m window --toggle split
alt - f : yabai -m window --toggle float

ctrl + alt + cmd + shift - k : yabToggleWindow wezterm
ctrl + alt + cmd + shift - o : yabToggleWindow obsidian
ctrl + alt + cmd + shift - m : yabToggleWindow telegram
ctrl + alt + cmd + shift - tab : yabToggleWindow display
{{- if eq .chezmoi.hostname "mackenziestewart" }}
ctrl + alt + cmd + shift - p : yabToggleWindow postman
ctrl + alt + cmd + shift - s : yabToggleWindow slack
ctrl + alt + cmd + shift - t : yabToggleWindow teams
ctrl + alt + cmd + shift - g : yabToggleWindow orion
ctrl + alt + cmd + shift - v : yabToggleWindow vivaldi
ctrl + alt + cmd + shift - z : yabToggleWindow zed


alt + shift - w : yabMoveFloat -1 -1 &
alt + shift - e : yabMoveFloat 0 -1 &
alt + shift - r : yabMoveFloat 1 -1 &

alt + shift - s : yabMoveFloat -1 0 &
alt + shift - d : yabMoveFloat 0 0 &
alt + shift - f : yabMoveFloat 1 0 &

alt + shift - x : yabMoveFloat -1 1 &
alt + shift - c : yabMoveFloat 0 1 &
alt + shift - v : yabMoveFloat 1 1 &


{{- end }}

